<label for ="preg">Pregunta</label>
<input type="text" id="preg" name="quiz[pregunta]" value="<%= quiz.pregunta %>"/><p>
<label for ="resp">Respuesta</label>
<input type="text" id="resp" name="quiz[respuesta]" value="<%= quiz.respuesta %>"/><p>
<label for ="tematica">Temática</label>
<select id="tematica" name="quiz[tematica]">
  <%
  var selected = '';
  [
    {"value": "seleccione", "text": "Seleccione ..." },
    {"value": "ciencia", "text": "Ciencia"},
    {"value": "humanidades", "text": "humanidades"},
    {"value": "tecnologia", "text": "Tecnología"},
    {"value": "ocio", "text": "Ocio"},
    {"value": "otro", "text": "Otro"}
  ].forEach(function(ot){

      if(ot.value == quiz.tematica){
        selected = 'selected';
      }else{
        selected = '';
      }

  %>
  <option value="<%= ot.value %>" <%= selected %> > <%= ot.text %> </option>
  <% }); %>
</select><br><br><br>
<a href="/quizes"><button type="button">Cancelar</button></a>
<button type="submit">Salvar</button>
